
@media(max-width:1024px){
    /* 1st section */
    .left-info h3 a {
        font-size: 30px;
    }
    .right-info h2 {
        font-size: 100px;
    }
    .right-info h3 {
        font-size: 30px;
    }
    .text-adv {
        justify-content: center;
    }
    .information-box h3 {
        font-size: 30px;

    }
    .information-box h2 {
        font-size: 50px;
    }
    /* 2nd section */
    .biography {
        text-align: center;
        max-width: 600px;
    }
    .biography-box {
        flex-direction: column;
    }
    .contact-div {
        flex-direction: column;
    }
    .contact-div h3 {
        font-size: 30px;
    }
    .contact-div p {
        font-size: 18px;
    }
    .biography h4 {
        font-size: 50px;
    }
    .biography h6 {
        font-size: 20px;
        text-align: center;
    }
    .biography p {
        font-size: 25px;
        line-height: 25px;
    }
    .biography button {
        font-size: 22px;
    }
    .knowledge {
        max-width: 600px;
    }
    .knowledge h6 {
        font-size: 25px;
    }
    .social-links {
        max-width: 500px;
    }
    .social-links a {
        padding: 25px;
        font-size: 25px;
        width: 80px;
        height: 80px;
    }
    /* 3rd section */


    /* 4th section */
    .recommendations-article{
        flex-direction: column;
    }
    .bullet-box {
        flex-direction: row;
        margin-top: 25px;
    }
    .bullet {
        margin-left: 15px;
    }
    /* 5th section */
    #latestProjects {
        margin-bottom: 400px;
    }
    .parent-project-div {
        flex-direction: column;
        align-items: center;
    }
    .list-box {
        max-width: 1170px;
        height: 220px;
    }
    .list-box nav ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    .list-box a {
        font-size: 33px;
    }
    .list-box ul {
        height: 150px;
    }
}

@media(max-width:800px) {
    /* 1st section */
    .left-info h3 a {
        font-size: 25px;
    }
    .left-info h4{
        font-size: 10px;
    }
    .right-info {
        display: none;
    }
    .information-box h3 {
        font-size: 25px;

    }
    .information-box h2 {
        font-size: 35px;
    }
    .text-adv h6 {
        font-size: 20px;
    }
    /* 2nd section */
    .biography {
        max-width: 400px;
    }
    .biography h4 {
        font-size: 40px;
    }
    .biography h6 {
        font-size: 15px;
    }
    .biography p {
        font-size: 18px;
        line-height: 18px;
    }
    /* 5th section */
    .list-box {
        max-width: 500px;
    }
    .list-box a {
        font-size: 20px;
    }
    .project-line {
        flex-wrap: wrap;
        /* flex-direction: column; */
        align-items: center;
        justify-content: center;
    }
    /* 6th section */
    .articles-box .article {
        padding-left: 0;
        justify-content: center;
    }
    .articles-box .article.middle {
        padding-right: 0;
        justify-content: center;
    }
    .article-img {
        display: none;
    }
    /* 7th section */
    .logoes {
        flex-wrap: wrap;
    }
    /* 8th section */
   .input-div {
       display: flex;
       flex-direction: column;
   }
    #message {
        max-width: 400px;
    }
    #email, #website {
        margin-left: 0;
    }
}
@media(max-width:600px){
    /* 1st section */
    .right-info {
        display: none;
    }
    .information-box {
        float: none;
        justify-content: center;
        display: flex;
        flex-direction: column;
        padding-left: 2%;
        
     }
     /* 5th section */
    
    .project-line {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    /* 6th section */
    .articles-box .article .article-info{
        display: block;
        padding: 0;
        width: 100%;
    }
    .article {
        margin-bottom: 10px;
    }
    .articles-box .article .article-info px {
        font-size: 12px;
    }

}
@media(max-width:480px){
    /* 1st section */
    .info-header {
        justify-content: center;
    }
    .information-box {
        padding-top: 80px;
    }
    .information-box h3{
        font-size: 20px;
    }
    .information-box h2 {
        font-size: 30px;
    }
    .information-box h6 {
        font-size: 20px;
    }
    /* 2nd section */
    .biography h4 {
        font-size: 30px;
    }
    .biography p {
        font-size: 12px;
    }
    .biography button {
        font-size: 15px;
    }
    .contact-div h3 {
        font-size: 20px;
    }
    .contact-div p {
        font-size: 12px;
    }
    .contact-div img {
        width: 50px;
        height: 50px;
    }
    .knowledge {
        justify-content: center;
    }
    /* 6th section */
    .latest-articles-section .title h2, .projects h2, .rosa-title h2 {
        font-size: 50px;
    }
    .articles-box .article .article-info h2 {
        font-size: 25px;
    }
    .article-info p {
        font-size: 10px;
    }
    /* 7th section */
    .logoes {
      align-items: center;
     
    }
    .logo-box {
        margin-bottom: 10px;
    }
    /* 8th section */
    .contact-us h2 {
        font-size: 25px;
    }
    .contact-us p {
        font-size: 8px;
    }
    /* footer section */
    .footer-section h2 {
        font-size: 40px;
    }
    .footer-detail p {
        font-size: 12px;
    }
    .footer-last-part p {
        font-size: 10px;
    }
}